body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.alerts {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.page-header {
  margin-top: 60px !important;
}
